<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h2>Добро пожаловать, {{ user_name }}!</h2>
        <p><a href="{% url 'property_list' %}">Жилплощади</a></p>
        <p><a href="{% url 'profile' %}">Личный кабинет</a></p>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <h2>Добро пожаловать, гость!</h2>
        <p><a href="{% url 'login' %}">Login</a></p>
        <p><a href="{% url 'signup' %}">Sign Up</a></p>
    {% endif %}
</body>
</html>